*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: Raleway;
  --accent-font: "STIX two text";
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color, #f3efec);
  color: var(--text-color, #312a4e);
  font-family: var(--main-font, Raleway);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.header {
  padding-block-start: 10%;
}

.heading {
  font-family: var(--accent-font);
  line-height: 0.9;
  font-weight: 600;
  text-align: center;
}

.content-section {
  padding-inline: 5vi;
}

.header__title {
  margin-block-end: 40px;
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
}

.content__title {
  font-size: 30px;
  padding-block: 7% 2.5%;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-of-type) {
  margin-block-end: 1.5em;
}

.content__paragraph a {
  color: currentColor;
}

.content__blockquote {
  margin-inline: auto;
  margin-block-end: 1.5em;
  inline-size: 75%;
  line-height: 2;
  font-style: italic;
}

.content__list {
  list-style: none;
}

.content__list .content__item:not(:last-of-type) {
  margin-block-end: 10px;
}

.content__item {
  position: relative;
}

.content__item::before {
  content: "";
  display: inline-block;
  position: absolute;
  inset-block-start: 5px;
  inset-inline-start: -25px;
  inline-size: 15px;
  block-size: 15px;
  background-image: url(../images/marker-light.svg);
  background-repeat: no-repeat;
  background-position: center;
}
